<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Squada+One&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/bf3cb62f9b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <header class="flex items-center justify-between px-3 py-4 bg-gray-100">
      <a id="header-logo" href="index.html">
        <img
          class="w-21.25 h-4.5 transition-opacity duration-500"
          src="./assets/images/logo.svg"
          alt="logo"
        />
      </a>
      <div id="icon-box" class="flex items-center">
        <div id="search-text-bar" class="hidden w-full">
          <i id="go-back" class="text-xs fa-solid fa-angle-left"></i>
          <input
            class="p-0 ml-4 bg-transparent border-0 focus:ring-0 w-9/10 placeholder:font-noto"
            type="text"
            name="search-text"
            id="search-text"
            placeholder="搜尋作品名稱、藝術家名稱"
          />
        </div>
        <i
          id="search"
          class="text-lg text-black cursor-pointer fa-solid fa-magnifying-glass"
        ></i>
        <i
          id="burger"
          class="pl-6 text-lg text-black cursor-pointer fa-solid fa-bars"
        ></i>
      </div>
    </header>

    <%- contents %>

    <footer class="footer">footer</footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
