@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family:"Squada One",
      "Noto Sans TC",
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      "Microsoft JhengHei",
      "Helvetica Neue",
      monospace,
      Arial,
      "cursive",
      sans-serif;
  }
};

@layer components{
  .btn-more{
    position: relative;
    width: 132px;
    padding: 8px 48px;
    font-size: 18px;
    line-height: 19px;
    border: 1px solid #000;
    overflow: hidden;
    transition: all .3s;
  }
  .btn-more:hover{
    color: #fff;
    background: #E6553B;
  }
  .btn-more::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: -16px;
    display: block;
    width: 0;
    height: 0;
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent #E6553B transparent;
    transition: all .3s;
  }
  .btn-more:hover::after{
    border-color: transparent transparent #000 transparent;
  }

  .title-btn-more{
    position: relative;
    width: 132px;
    padding: 8px 48px;
    font-size: 18px;
    line-height: 19px;
    overflow: hidden;
    transition: all .3s;
  }
  .title-btn-more:hover{
    color: #fff;
    background: #E6553B;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
  }
  .title-btn-more::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -16px;
    display: block;
    width: 0;
    height: 0;
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent #E6553B transparent;
    transition: all .3s;
  }
  .title-btn-more:hover::after {
    border-color: transparent transparent #000 transparent;
  }

  
}

@layer utilities{
  .ranking-item-top:hover .ranking-item-top-hover{
    opacity: 1;
  }
  .ranking-item:hover .ranking-item-hover{
    opacity: 1;
  }
}

.swiper-slide{
  transition: all 1s;
}

.swiper-slide-prev,
.swiper-slide-next {
  filter: grayscale(100);
  width: 24% !important;
  height: 50%;
}

.swiper-slide-active{
  width: 49% !important;
}

.swiper-slide-active .transform-scale{
  transform: scale(1);
  opacity: 1;
}

.swiper-pagination-bullet{
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 0;
  opacity: 1;
  transition: all .3s;
}

.swiper-pagination-bullet-active{
  width: 16px;
  height: 8px;
  background: #E6553B;
}